@tailwind components;

@layer components {

    /* LINKS */
    .link {
        @apply cursor-pointer text-base font-medium text-primary-light hover:text-primary;
    }

    /* GEOMETRY */
    .point {
        @apply mt-2 h-4 w-4 rounded-full p-2;
    }

    /* TO DELETE (REMPLACED BY PILLS) */
    /* STICKER */
    .sticker-green {
        @apply inline-flex rounded-full px-2 text-xs font-semibold leading-5 bg-green-100 text-green-800 dark:bg-green-700 dark:text-green-200;
    }
    .sticker-red {
        @apply inline-flex rounded-full px-2 text-xs font-semibold leading-5 bg-red-100 text-red-800 dark:bg-red-700 dark:text-red-200;
    }
    .sticker-yellow{
        @apply inline-flex rounded-full px-2 text-xs font-semibold leading-5 bg-yellow-100 text-yellow-800 dark:bg-yellow-700 dark:text-yellow-200;
    }
    .sticker-primary{
        @apply inline-flex rounded-full px-2 text-xs font-semibold leading-5 bg-primary-lightest text-primary-darkest dark:bg-primary-darkest dark:text-primary-lightest;
    }
    .sticker-secondary{
        @apply inline-flex rounded-full px-2 text-xs font-semibold leading-5 bg-secondary-lightest text-secondary-darkest dark:bg-secondary-darkest dark:text-secondary-lightest;
    }
    .sticker-tertiary{
        @apply inline-flex rounded-full px-2 text-xs font-semibold leading-5 bg-slate-300 text-slate-800 dark:bg-slate-700 dark:text-slate-200;
    }

    /* Form */
    .form {
        @apply grid place-items-center;
    }
    .form-container{
        @apply w-64 inline-block my-0.5;
    }


    /* ERROR */
    .error-red {
        @apply 
        font-bold
        text-red-500
        dark:text-red-600;
        animation: shake 0.5s ease-in-out normal;
    }
    @keyframes shake {
        0%, 100% {
            transform: translateX(0);
        }
        10%, 30%, 50%, 70%, 90% {
            transform: translateX(-5px);
        }
        20%, 40%, 60%, 80% {
            transform: translateX(5px);
        }
    }

    .form {
        @apply grid place-items-center;
    }

    .form-container{
        @apply w-64 inline-block my-0.5;
    }
}